h1 {
  font-weight: 700;
  font-size: 30px;
  margin: 10px;
  margin-bottom: 25px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.kg-button {
  min-width: 100px;
}

.kg-row {
  margin: 10px;
}
